{{!-- <h1>Famous Burgers!</h1>

<h2>Burger Time!</h2> --}}
<header>
  <div class="row">
  <div class="col-md-12">
<h1 align="center"> Eat-Da-Burger!</h1>
  </div>
  </div>
</header>

<div align="center" class="col-md-4">
<br>
<br>
<img src="/assets/img/burger.PNG" alt="burger">
</div>

<ul>
  {{#each burger}}
  <li>
    <p>
      {{this.id}}. {{this.burger}}

      <button data-burgerid="{{this.id}}" class="addburger">Eat Burger!</button>
    </p>
  </li>
  {{/each}}
</ul>
{{!-- <h2>Create a Burger-"hide"</h2> --}}
<form id="createburger" class="button-size">
  <textarea type="text" name="burger"></textarea>
  <button type="submit">Submit!</button>
</form>

<form id="newburger" class="button-size">
  <select name="id">
		{{#each burger}}
			<option value="{{this.id}}">{{this.burger}}</option>
		{{/each}}
	</select>
  <textarea type="text" name="burger" placeholder="enter burger name"></textarea>
  <button type="submit">Submit!</button>
</form>

 {{!-- $("#createplan").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    {{!-- // [name=burger] will find an element with a "name" attribute equal to the string "plan"
    var newBurger = {
      burger: $("#createburger [name=burger]").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/burger", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  }); --}} --}}
  
{{!-- <div class="left">
<div class="row">
  <div class=" col-md-4">
  <h2 align="left"> New Burgers</h2>
<ul align="left">
  {{#each burgers}}
  {{#unless devoured}}
     {{>burger-block devoured=false}}
    
    {{/unless}}
  {{/each}}
</ul>
</div>
<br> --}}

	{{!-- <button type="submit">Submit</button>
</form>
</div> --}}

{{!-- <div class="left">
<div class="row">
  <div class=" col-md-4">
  <h2 align="left"> New Burgers</h2>
<ul align="left">
  {{#each burgers}}
  {{#unless devoured}}
     {{>burger-block devoured=false}}
    
    {{/unless}}
  {{/each}}
</ul>
</div>



<div align="right" class="col-md-4">
  <div class="col-md-4">
  <h2 align="right"> Devoured Burgers</h2>
<ul align="right">
  {{#each burgers}}
     {{#if devoured}}
     {{burger-block devoured=true}}
      
    {{/if}}
  {{/each}}
</ul>
</div>

<div align="center" class="row">
  <div class="col-md-4">
  <h2>Order A Burger</h2>
<form class="create-form> --}}

{{!-- <div class="form-group">
  <label for="burger">Enter Burger Name:</label>
  <input type="text" id="burger"name="burger_name">
</div>

	<button type="submit">Submit</button>
</form> --}}
{{!-- <div class="form-group">
    
    <input type="textarea" name="enterburger" value="1" checked> <br>
   
  </div> --}}
{{!-- </div>
</div> --}}
